.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
    flex-wrap: wrap;
    min-height: 100vh;
    width:100%;
}

img{
    width: 250px;
}
button{
    margin-top:11px;
    width:250px;
    background-color: black;
    color:White;
    height: 40px;
    border-radius:2px;
}
