.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
    flex-wrap: wrap;
    
    min-height: 100vh;
    width:100%;
}
.home h1{
    position: absolute;
    top:20px;
    font-size: 5rem;
}

img{
    width: 250px;
}
button{
    margin-top:11px;
    width:250px;
    background-color: black;
    color:White;
    height: 40px;
    border-radius:2px;
    cursor: pointer;
}
.item__inner{
    color:rgb(55, 52, 52);
    font-size: 19px;
    font-weight: bold;
}
